
<nav class="container-fluid d-flex justify-content-end p-2">
    <a href="/login_gapa" style="text-decoration: none;">
        <button class="btn btn-primary rounded-4 login">Log In</button>
    </a>
    <a href="/create_gapa" style="text-decoration: none;">
        <button class="btn btn-primary bg-yellow text-black rounded-4 signup">Sign Up</button>
    </a>
</nav>