<div class="row mb-5 mt-5">
    <div class="col-lg-8 mx-auto">
        <form action="">
            <div class="px-3 bg-gray_light rounded rounded-pill shadow-sm mb-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button id="button-addon2" type="submit" class="btn btn-link text-black"><i class="fa fa-search"></i></button>
                    </div>
                    <input type="search" placeholder="Search Topic" aria-describedby="button-addon2" class="form-control border-0 bg-gray_light">
                </div>
            </div>
        </form>
    </div>
</div>