<div class="container-fluid m-2">
    <div class="row">
        <form action="">
            <div class="px-3 bg-gray_light rounded rounded-pill shadow-sm">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button id="button-addon2" type="submit" class="btn btn-link text-black"><i class="fa fa-search"></i></button>
                    </div>
                    <input type="search" placeholder="Search Topic" aria-describedby="button-addon2" class="form-control border-0 bg-gray_light">
                </div>
            </div>
        </form>
    </div>
    <p>Your Channels</p>
    <div class="row">
        <div class="col-auto"> <!-- Adjust the column width as needed -->
            <button class="btn btn-dark rounded-5 position-relative mt-1">
                <div class="ps-4">Graphic Design</div>
                <div class="circle_graphic_design"></div>
            </button>
        </div>
        <div class="col-auto"> <!-- Adjust the column width as needed -->
            <button class="btn btn-dark rounded-5 position-relative mt-1">
                <div class="ps-4">UI/UX</div>
                <div class="circle_ui_ux"></div>
            </button>
        </div>
        <div class="col-auto"> <!-- Adjust the column width as needed -->
            <button class="btn btn-dark rounded-5 position-relative mt-1">
                <div class="ps-4">Product Design</div>
                <div class="circle_product_design"></div>
            </button>
        </div>
        <div class="col-auto"> <!-- Adjust the column width as needed -->
            <button class="btn btn-dark rounded-5 position-relative mt-1">
                <div class="ps-4">Architecture</div>
                <div class="circle_architecture"></div>
            </button>
        </div>
        <div class="col-auto"> <!-- Adjust the column width as needed -->
            <button class="btn btn-dark rounded-5 position-relative mt-1">
                <div class="ps-4">Interior Design</div>
                <div class="circle_interior_design"></div>
            </button>
        </div>
    </div>
</div>