<div class="container-fluid d-flex justify-content-between align-item-center">
    <div class="justify-content-start align-self-center">
        <a href="/projects">
            <img src="/image/desktop/logo_white.png" alt="" class="img-fluid">
        </a>
    </div>
    <div class="justify-content-end align-self-center">
        <a href="/create_post">
            <img src="/image/desktop/plus.png" alt="" class="img-fluid">
        </a>
    </div>
</div>
<hr>
<div class="text-white">
    <a href="/feed" class="text-decoration-none text-white">
        <p class="fw-bolder">Feed</p>
    </a>
    <a href="/myProjects" class="text-decoration-none text-white">
        <p>My Projects</p>
    </a>
    <a href="/notifications" class="text-decoration-none text-white">
        <p>Notifications</p>
    </a>
    <a href="/bookmark" class="text-decoration-none text-white">
        <p>Bookmark</p>
    </a>
</div>
<hr>
<p class="text-white">My Channels</p>
<!-- <div class="container-fluid">
    <div class="button-columns" id="button-container">

    </div>
</div> -->
<div class="row">
    <div class="col-md-12"> <!-- Adjust the column width as needed -->
        <button class="btn btn-dark rounded-5 position-relative mt-1">
            <div class="ps-4">Graphic Design</div>
            <div class="circle_graphic_design"></div>
        </button>
    </div>
    <div class="col-md-12"> <!-- Adjust the column width as needed -->
        <button class="btn btn-dark rounded-5 position-relative mt-1">
            <div class="ps-4">UI/UX</div>
            <div class="circle_ui_ux"></div>
        </button>
    </div>
    <div class="col-md-12"> <!-- Adjust the column width as needed -->
        <button class="btn btn-dark rounded-5 position-relative mt-1">
            <div class="ps-4">Product Design</div>
            <div class="circle_product_design"></div>
        </button>
    </div>
    <div class="col-md-12"> <!-- Adjust the column width as needed -->
        <button class="btn btn-dark rounded-5 position-relative mt-1">
            <div class="ps-4">Architecture</div>
            <div class="circle_architecture"></div>
        </button>
    </div>
    <div class="col-md-12"> <!-- Adjust the column width as needed -->
        <button class="btn btn-dark rounded-5 position-relative mt-1">
            <div class="ps-4">Interior Design</div>
            <div class="circle_interior_design"></div>
        </button>
    </div>
</div>