<%- include("partials/head.ejs") %>

<nav class="container-fluid d-flex justify-content-end p-2">
    <button id="loginButton" class="btn btn-login mx-2">Log In</button>
    <button id="signUpButton" class="btn btn-signup rounded-pill">Sign Up</button>
</nav>

<main>
    <div class="container-fluid m-0 p-0">
        <a href="/projects">
            <img src="image/landing_page_2/menu.png" alt="" class="img-fluid w-100">
        </a>
    </div>
</main>

<div class="container-fluid p-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 col-12">
            <div class="text-center">
                <h1 class="animate">What is <span class="fw-bold">GAPA*?</span></h1>
                <p class="text-justify">
                    An abbreviation from <em class="font-italic">tanggapan</em>,
                    <span class="fw-bold">GAPA*</span> is an inclusive platform for all designers in Indonesia who seek to establish new connections with fellow designers within the country. In <span class="fw-bold">GAPA*</span>, you can join communities, showcase your work, and, most importantly, receive feedback.
                </p>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>

<div class="container-fluid mb-5 px-5">
    <div class="row no-gutters text-white">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6 bg-blue btlr_bblr pt-5 px-5">
                    <h2>COMMUNITIES</h2>
                    <p><span class="fw-bold">GAPA*</span> is filled with designers from all segments and have formed a tight knit community for you to explore.</p>
                    <p>Join a community and bridge <br> new connections!</p>
                </div>
                <div class="col-md-6 bg-blue m-0 p-0 btrr_bbrr">
                    <img src="/image/landing_page_2/community.png" alt="" class="img-fluid w-100 h-100 btrr_bbrr">
                </div>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>

<div class="container-fluid mb-5 px-5">
    <div class="row no-gutters text-white">
        <div class="col-md-6">
            
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6 bg-blue btlr_bblr pt-5 px-5">
                    <h2>SHOWCASE</h2>
                    <p>Post your work and projects with detail.</p>
                    <p>We made sure we meet the needs of all designers, so rest easy as we allow for a plethora of medias and mediums to be posted</p>
                </div>
                <div class="col-md-6 bg-blue m-0 p-0 btrr_bbrr">
                    <img src="/image/landing_page_2/showcase.png" alt="" class="img-fluid w-100 h-100 btrr_bbrr">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mb-5 px-5">
    <div class="row no-gutters text-white">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6 bg-blue btlr_bblr pt-5 px-5">
                    <h2>DISCUSS</h2>
                    <p>Interact with other designers with the extensive comment section.</p>
                    <p>Discuss about your work, receive feedback or really talk about anything</p>
                </div>
                <div class="col-md-6 bg-blue m-0 p-0 btrr_bbrr">
                    <img src="/image/landing_page_2/discuss.png" alt="" class="img-fluid w-100 h-100 btrr_bbrr">
                </div>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>

<div class="container-fluid mb-5 px-5">
    <div class="row no-gutters text-white">
        <div class="col-md-6">
            
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6 bg-blue btlr_bblr pt-5 px-5">
                    <h2>PERSONALIZED</h2>
                    <p>We show projects that are in your interests and expertise.</p>
                    <p>This means that your homepage is tailored speficically for you</p>
                </div>
                <div class="col-md-6 bg-blue m-0 p-0 btrr_bbrr">
                    <img src="/image/landing_page_2/personalized.png" alt="" class="img-fluid w-100 h-100 btrr_bbrr">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-blue py-5" data-aos="fade-up">
    <p class="text-center text-white fs-1">What our users think of <span class="fw-bold">GAPA*</span></p>
    <div class="row">
        <div class="col-md-3 px-5 my-2">
            <div class="container-fluid bg-accent1 rounded-4 p-3 justify">
                <p>"I think what I like most about <span class="fw-bold">GAPA*</span> is how easy it is to find communities, especially with the scene here in Indonesia. It feels very effortless and accesible"</p>
                <br>
                <div class="container">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-3">
                            <img src="image/landing_page_2/Joe.png" alt="">
                        </div>
                        <div class="col-9 pt-2">
                            <p class="m-0 p-0 fw-bold">Joe Jason</p>
                            <p>Product Designer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 px-5 my-2">
            <div class="container-fluid bg-accent1 rounded-4 p-3 justify">
                <p><span class="fw-bold">"GAPA* </span>is so nice to use that it made me sit down, think through, and actually make a proper standalone collection of work for the first time in 10 years"</p>
                <br>
                <div class="container">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-3">
                            <img src="image/landing_page_2/Ben.png" alt="">
                        </div>
                        <div class="col-9 pt-2">
                            <p class="m-0 p-0 fw-bold">Ben Brown</p>
                            <p>Fashion Designer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 px-5 my-2">
            <div class="container-fluid bg-accent1 rounded-4 p-3 justify">
                <p>"For me, <span class="fw-bold"> GAPA*</span> really helped out when I'm not sure of the quality of my project. The people here were super friendly and gave out critical and valid points that I would've never figured out myself"</p>
                <div class="container">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-3">
                            <img src="image/landing_page_2/Alisson.png" alt="">
                        </div>
                        <div class="col-9 pt-2">
                            <p class="m-0 p-0 fw-bold">Alisson Violet</p>
                            <p>Architect</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 px-5 my-2">
            <div class="container-fluid bg-accent1 rounded-4 p-3 justify">
                <p>"I've met quite a few people through <span class="fw-bold"> GAPA*</span> that have slowly turned into awesome connections. The chill, low-friction format has made it natural to connect with new people"</p>
                <div class="container">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-3">
                            <img src="image/landing_page_2/Taylor.png" alt="">
                        </div>
                        <div class="col-9 pt-2">
                            <p class="m-0 p-0 fw-bold">Taylor Russel</p>
                            <p>UI Designer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="scripts/scripts.js"></script>

<%- include("partials/footer.ejs") %>