<%- include("partials/head.ejs") %>


<div class="container-fluid">
    <div class="row m-0 p-0">
        <div class="container col-md-6 bg-gray m-0 p-0">
            <img src="image/signup/signuppage.png" alt="" class="img-fluid m-0 p-0" style="width: 560px;">
        </div>
        <div class="col-md-6 py-2">
            <div class="container py-5">
                <div class="row d-flex align-items-center mt-3 pt-3">
                    <div class="col text-center">
                        <div class="container rounded-5 w-100">
                            <a href="/login_gapa" class="text-black" style="text-decoration: none;"><p>Log In</p></a>
                        </div>
                        <hr>
                    </div>
                    <div class="col text-center">
                        <div class="container rounded-5 w-75">
                            <p class="fw-bold">Create Account</p>
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="container d-flex align-items-center justify-content-center mb-3">
                    <button class="btn btn-primary rounded-5 continue_google">
                        <div class="row">
                            <div class="col-md-3"><img src="/image/login/google.png"></div>
                            <div class="col-md-6 fw-bold">Continue With Google</div>
                        </div>
                    </button>
                </div>
                <div class="container mt-3">
                    <div class="row">
                        <div class="col-5">
                            <hr class="dashed-line">
                        </div>
                        <div class="col-2 text-center">Or</div>
                        <div class="col-5">
                            <hr class="dashed-line">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <form action="/register" method="post">
                    <div class="form-floating mb-3">
                        <div class="input-group">
                        <div class="input-group-prepend bg-accent2 d-flex align-items-center justify-content-center ps-2 pe-2 rounded-left btrr_bbrr btlr_bblr_image">
                            <img src="/image/signup/email.png" alt="" style="width: 20px; height: 20px;">
                        </div>
                        <input type="email" class="form-control bg-accent2" id="email" name="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <div class="input-group">
                        <div class="input-group-prepend bg-accent2 d-flex align-items-center justify-content-center ps-2 pe-2 rounded-left btrr_bbrr btlr_bblr_image">
                            <img src="/image/signup/user.png" alt="" style="width: 20px; height: 20px;">
                        </div>
                        <input type="text" class="form-control bg-accent2" id="firstName" name="firstName" placeholder="First Name">
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <div class="input-group">
                        <div class="input-group-prepend bg-accent2 d-flex align-items-center justify-content-center ps-2 pe-2 rounded-left btrr_bbrr btlr_bblr_image">
                            <img src="/image/signup/user.png" alt="" style="width: 20px; height: 20px;">
                        </div>
                        <input type="text" class="form-control bg-accent2" id="lastName" name="lastName" placeholder="Last Name (Optional)">
                        </div>
                    </div>
                    <div class="form-floating">
                        <div class="input-group">
                        <div class="input-group-prepend bg-accent2 d-flex align-items-center justify-content-center ps-2 pe-2 rounded-left btrr_bbrr btlr_bblr_image">
                            <img src="/image/signup/lock.png" alt="" width="20px" height="20px">
                        </div>
                        <input type="password" class="form-control bg-accent2" id="password" name="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-floating mt-3">
                        <div class="input-group">
                            <div class="input-group-prepend bg-accent2 d-flex align-items-center justify-content-center ps-2 pe-2 rounded-left btrr_bbrr btlr_bblr_image">
                                <img src="/image/signup/lock.png" alt="" class="img-fluid"> <!-- Adjust the path to your captcha image -->
                            </div>
                            <input type="text" class="form-control bg-accent2" id="captcha" name="captcha" placeholder="Enter Captcha">
                        </div>
                    </div>  

                    <!-- Display captcha image -->
                    <div class="container d-flex align-items-center justify-content-center mt-3">
                        <img src="/captcha" alt="Captcha Image"> <!-- Fetch captcha image from the /captcha route -->
                    </div>
                    <p class="text-center mt-3" style="font-size: 12px; color: #777777">By creating an account, you agree to our <br> <u> Terms of Services and Privacy & Cookie Statement</u></p>
                    <div class="d-flex mt-3 justify-content-center align-items-center">
                        <button class="btn btn-primary rounded-5 w-75 create py-2 fw-bold bg-blue">
                        Create Gapa* account
                        </button>
                    </div>
                    </form>
                </div>
                
                
            </div>
        </div>
    </div>
</div>